@font-face {
  font-family: "Merriweather";
  src: url("../../ress/fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather Bold";
  src: url("../../ress/fonts/Merriweather-Bold.ttf");
}
@font-face {
  font-family: "Merriweather Black";
  src: url("../../ress/fonts/Merriweather-Black.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}
button:hover {
  cursor: pointer;
}

html {
  font-size: 20px;
  font-family: "Merriweather";
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #9A9483;
}

p {
  margin-top: 35px;
  text-align: center;
}

footer, header {
  width: 100%;
  height: 125px;
  background-color: #212121;
}

.button,
.loading,
.input,
.others {
  width: 80%;
  height: auto;
  border: solid 3px #212121;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  background: #C7BEA2;
}

.button__title,
.loading__title,
.input__title,
.others__title {
  width: 100%;
  height: 60px;
  font-size: 1.8rem;
  color: #F6F6F6;
  background: #212121;
  text-align: center;
  line-height: 50px;
}

.others__animation--one .green-fire, .others__animation--one .orange-fire, .others__animation--one .red-fire {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.3;
  transition: 0.3s;
}

/* Header -- Footer */
header nav {
  width: 75%;
  height: 100%;
  line-height: 75px;
  margin: auto;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 10px;
}
header nav li {
  display: inline-block;
  padding: 10px;
}
header nav a {
  color: #F6F6F6;
  text-decoration: none;
  vertical-align: middle;
}
header li {
  border: double 5px transparent;
}
header li:hover {
  border: double 5px #F6F6F6;
}
header a {
  font-size: 2.5rem;
}

footer {
  margin-top: 25px;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 10px;
}
footer li {
  display: inline-block;
  padding: 10px;
}
footer a {
  color: #F6F6F6;
  text-decoration: none;
  vertical-align: middle;
}
footer a:hover {
  text-decoration: underline 0.1rem #F6F6F6;
}

/* Anchor nav */
.anchor__nav {
  position: fixed;
  top: 90%;
  right: 5%;
  font-size: 3rem;
}
.anchor__nav a {
  text-decoration: none;
  color: #E5DCC3;
  text-shadow: 5px 5px 5px #212121;
}

/* section */
.button__box,
.loading__box,
.input__box,
.others__box {
  width: 500px;
  height: 500px;
  border: solid 1px #212121;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #E5DCC3;
}
.button__box--header,
.loading__box--header,
.input__box--header,
.others__box--header {
  background: #AAA492;
  width: 100%;
  height: 2rem;
  line-height: 40px;
  text-align: center;
}
.button__box--content,
.loading__box--content,
.input__box--content,
.others__box--content {
  display: flex;
  flex-grow: 1;
}
.button__box--container,
.loading__box--container,
.input__box--container,
.others__box--container {
  margin: auto;
}

.others__box--content .others__box--container {
  margin-top: 0;
  margin-bottom: 0;
}
.others .overflow--hidden {
  overflow: hidden;
}

/* animation */
@keyframes rotate-360deg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-360deg-delay {
  0% {
    transform: rotate(0deg);
  }
  80%, 100% {
    transform: rotate(360deg);
  }
}
/* Button Animations*/
.button__animation--one button {
  width: 350px;
  height: 150px;
  background: #6D9886;
  color: #F6F6F6;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 8px 2px #212121;
  border-radius: 35px;
  transition: 0.2s;
}
.button__animation--one button:hover {
  box-shadow: 0 6px 2px #212121;
  transform: translateY(2px);
}
.button__animation--one button:active {
  box-shadow: none;
  transform: translateY(8px);
}

/* loading animations */
.loading__animation--one {
  width: 175px;
  height: 175px;
  border: 8px solid transparent;
  border-left-color: #6D9886;
  border-right-color: #6D9886;
  border-radius: 50%;
  margin: auto;
  animation: rotate-360deg 1.5s linear infinite running;
}

.loading__animation--two {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.loading__animation--two .dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: rotate-360deg-delay 2s ease-in infinite running;
}
.loading__animation--two .dot:nth-of-type(1) {
  animation-delay: 0.15s;
}
.loading__animation--two .dot:nth-of-type(2) {
  animation-delay: 0.25s;
}
.loading__animation--two .dot:nth-of-type(3) {
  animation-delay: 0.35s;
}
.loading__animation--two .dot:nth-of-type(4) {
  animation-delay: 0.45s;
}
.loading__animation--two .dot:nth-of-type(5) {
  animation-delay: 0.55s;
}
.loading__animation--two .dot::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #6bb5a8;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%);
}

/* others animations */
.others__animation--one {
  margin-top: 80px;
}
.others__animation--one .bg--black {
  position: relative;
  background: #212121;
  border: 3px solid #080808;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.others__animation--one .pole__bg--black {
  position: relative;
  width: 14px;
  height: 178px;
  left: 50%;
  transform: translate(-50%);
  background: #212121;
  border-left: 6px solid #080808;
  border-top: 4px solid #020202;
}
.others__animation--one .dark--object {
  position: relative;
  height: 25px;
  width: 65px;
  background: #080808;
  border-radius: 20px 20px 0 0;
  top: -4px;
  left: -8px;
  border: 3px solid black;
  border-bottom: none;
}
.others__animation--one .red-fire {
  background: #FF8080;
}
.others__animation--one .orange-fire {
  background: #FFBA92;
}
.others__animation--one .green-fire {
  background: #CBE2B0;
}

/*# sourceMappingURL=style.css.map */
