@font-face {
  font-family: "Merriweather";
  src: url("../../ress/fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather Bold";
  src: url("../../ress/fonts/Merriweather-Bold.ttf");
}
@font-face {
  font-family: "Merriweather Black";
  src: url("../../ress/fonts/Merriweather-Black.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Merriweather";
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #9A9483;
}

p {
  margin-top: 35px;
}

footer, header {
  width: 100%;
  height: 125px;
  background-color: #212121;
}

.button,
.loading,
.input,
.others {
  width: 80%;
  height: auto;
  border: solid 3px #212121;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  background: #C7BEA2;
}

.button__title,
.loading__title,
.input__title,
.others__title {
  width: 100%;
  height: 60px;
  font-size: 1.8rem;
  color: #F6F6F6;
  background: #212121;
  text-align: center;
  line-height: 50px;
}

/* Header -- Footer */
header nav {
  width: 75%;
  height: 100%;
  line-height: 75px;
  margin: auto;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 10px;
}
header nav li {
  display: inline-block;
  padding: 10px;
}
header nav a {
  color: #F6F6F6;
  text-decoration: none;
  vertical-align: middle;
}
header li {
  border: double 5px transparent;
}
header li:hover {
  border: double 5px #F6F6F6;
}
header a {
  font-size: 2.5rem;
}

footer {
  margin-top: 25px;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 10px;
}
footer li {
  display: inline-block;
  padding: 10px;
}
footer a {
  color: #F6F6F6;
  text-decoration: none;
  vertical-align: middle;
}
footer a:hover {
  text-decoration: underline 0.1rem #F6F6F6;
}

/* Anchor nav */
.anchor__nav {
  position: fixed;
  top: 90%;
  right: 5%;
  font-size: 3rem;
}
.anchor__nav a {
  text-decoration: none;
  color: #E5DCC3;
  text-shadow: 5px 5px 5px #212121;
}

/* section */
.button__box,
.loading__box,
.input__box,
.others__box {
  width: 500px;
  height: 500px;
  border: solid 1px #212121;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #E5DCC3;
}
.button__box--header,
.loading__box--header,
.input__box--header,
.others__box--header {
  background: #AAA492;
  width: 100%;
  height: 2rem;
  line-height: 40px;
  text-align: center;
}
.button__box--content,
.loading__box--content,
.input__box--content,
.others__box--content {
  display: flex;
  flex-grow: 1;
}
.button__box--container,
.loading__box--container,
.input__box--container,
.others__box--container {
  margin: auto;
}

/* animation */
@keyframes loading-one {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading__animation--one {
  width: 150px;
  height: 150px;
  border: 8px solid transparent;
  border-left-color: #6D9886;
  border-right-color: #6D9886;
  border-radius: 50%;
  margin: auto;
  animation: loading-one 1.5s linear infinite running;
}

/*# sourceMappingURL=style.css.map */
