@keyframes loading-one {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading__animation--one {
    width: 150px;
    height: 150px;
    border: 8px solid transparent;
    border-left-color: $c-green;
    border-right-color: $c-green;
    border-radius: 50%;
    margin: auto;
    animation: loading-one 1.5s linear infinite running;
}