@mixin head-foot-list {
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 10px;
    }
    li {
        display: inline-block;
        padding: 10px;
    }
    a {
        color: $c-white;
        text-decoration: none;
        vertical-align: middle;
      }
}

@mixin div-animation {
    @extend %div-container;
    &__title {
        @extend %div-title;
    }
    &__box {
        width: 500px;
        height: 500px;
        border: solid 1px $c-black;
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: $c-box-bg;
    }
    &__box--header {
        background: $c-box-header-bg;
        width: 100%;
        height: 2rem;
        line-height: 40px;
        text-align: center;
    }
    &__box--content {
        display: flex;
        flex-grow: 1;
        &:first-child {
            margin: auto;
        }
    }
}